<!DOCTYPE html>
<html>
<head>
	<title>API Analytica</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/api.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
	<script type="text/javascript">
	$( document ).ready(function() {
		$('i[rel="pre"]').replaceWith(function() {
		    return $('<pre><code>' + $(this).html() + '</code></pre>');
		});
		var pres = document.querySelectorAll('pre,kbd,blockquote');
		for (var i = 0; i < pres.length; i++) {
		  pres[i].addEventListener("dblclick", function () {
		    var selection = getSelection();
		    var range = document.createRange();
		    range.selectNodeContents(this);
		    selection.removeAllRanges();
		    selection.addRange(range);
		  }, false);
		}
	});
	</script>
</head>
<body>
<!-- -->
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-6">
        <div class="header">
            <h1 class="brand-title">REST API</h1>
            <h2 class="brand-tagline">cdfi</h2>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div id="wrapper">

            <div class="posts">
                <h1 class="content-subhead">Api Root</h1>


                <section class="post">

{% block content %}

{% if form.errors %}
<p>Tu usuario y contraseña no son validos. Intenta de nuevo</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a este contenido , intruduce una cuenta valida</p>
    {% else %}
    <p>Por favor inicia sesión para continuar</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="Continuar" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
                </section>

            </div>
        </div>
    </div>
</div>
<!-- -->
</body>
</html>